# Logs
logs
*.log
npm-debug.log*
.vscode
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
incl
.env
src/pages/ProjectsPage/ProjectDetails___SWIPER.vue
src/components/organisms/ProjectsSwiper.vue